<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] ?? "Default Title"</title> <!-- Add a fallback title -->
</head>

<body>
    <header>
        <h1>Hello .NET9 Application</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 My Application</p>
    </footer>
</body>

</html>